body{
    background-image: url;
    background-size: cover;
    font-family: sans-serif;
  } 
  
  h1{}
    font-size: 11pt;
  

  h2{}
    font-size: 11pt;
  
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  linear-gradient;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  li a:active {
    background-color: #04AA6D;
  }
